:root{
    --green-ocensa: #21a605;
    --green-light-ocensa: #e3ff00;
    --gray-light-ocensa: #9a9a9a;
    --gray-dark-ocensa: #1a1a1a;
    --calibri: "Calibri", sans-serif;
    --helvetica: "Helvetica", sans-serif;
}

.body-2024{
    color: var(--gray-dark-ocensa);
    font-family: var(--helvetica);
}

.body-2024 p{
    margin: 0;
}

.container-ocensa-2024{
    width: 90%;
    max-width: 1673px;
    margin: 0 auto;
}

.bg-green-ocensa{
    background-color: var(--green-ocensa);
}

.bg-gray-dark-ocensa{
    background-color: var(--gray-dark-ocensa);
}

.bg-gray-light-ocensa{
    background-color: var(--gray-light-ocensa);
}

.text-green-ocensa{
    color: var(--green-ocensa);
}

.text-gray-light-ocensa{
    color: var(--gray-light-ocensa);
}

.font-calibri{
    font-family: var(--calibri);
}

.divider-vertical{
    display: inline-block;
    width: 1px;
    background-color: var(--green-light-ocensa);
}

.custom-arrow-2024{
    background: none;
    border: none;
    position: absolute;
    top: calc(50% - 15px);
    z-index: 1;
    outline: none;
    transition: .3s;
}

.custom-arrow-2024.slick-disabled{
    opacity: .6;
    pointer-events: none;
}

.custom-arrow-2024:hover{
    opacity: .7;
}

.custom-arrow-2024.custom-right-arrow-2024{
    right: 0;   
}

.custom-arrow-2024.custom-left-arrow-2024{
    left: 0;   
}

.custom-dots-2024 .slick-dots button::before{
    display: none;
}

.custom-dots-2024 .slick-dots{
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-dots-2024 .slick-dots li{
    width: auto;
    height: auto;
}
.custom-dots-2024 .slick-dots button{
    width: 12px;
    height: 12px;
    background-color: white;
    border-radius: 50%;
    border: 1px solid var(--gray-light-ocensa);
}

.custom-dots-2024 .slick-dots .slick-active button{
    background-color: var(--green-ocensa);
    border-color: var(--green-ocensa);
}

.button-oc-2024{
    background-color: var(--green-ocensa);
    color: white;
    font-weight: bold;
    border-radius: 50px;
    padding: .3em 1em;
    transition: .3s;
}

.button-oc-2024:hover{
    background-color: var(--gray-dark-ocensa);
    text-decoration: none;
    color: white;
}

.button-oc-2024.color-light{
    background-color: white;
    color: var(--green-ocensa);
}

.button-oc-2024.color-light:hover{
    background-color: var(--gray-dark-ocensa);
}

.container-video-yt iframe{
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
}

.custom-scroll-2024::-webkit-scrollbar {
    width: 3px;
}

.custom-scroll-2024::-webkit-scrollbar-thumb {
    background-color: var(--gray-light-ocensa);
    border-radius: 50px;
}

#cusiana-sre-6 > span > svg > g > g:nth-child(1) > g > path:nth-child(1){
    display: none;
}

#accordion-item-incendio > div > div:nth-child(1) > div:nth-child(3):hover > div.card-interactive-icons___box-icon > svg > g{
    stroke: white;
}

@media screen and (max-width: 1200px) {
    .container-ocensa-2024{
        width: 100%;
    }
}

@media screen and (max-width: 900px) {
    .body-2024 p{
        font-size: 14px;
    }
}