.banner-principal{
   height: 60vh;
   background-image: url('/assets/img/portada-covenas.webp');
   background-size: cover;
   background-repeat: no-repeat;
   position: relative;
}

.banner-principal::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, .6);
}

.banner-principal .container, .banner-principal .row{
    height: 100%;
}

.banner-principal__title{
    font-size: 60px;
    font-family: var(--calibri);
}

.banner-principal__subtitle{
    font-size: 24px;
}

.terminal-carousel{
    width: 80%;
}

.card-ocensa.menu-map a{
    font-size: 20px;
    line-height: 1em;
    transition: .3s;
}

.card-ocensa.menu-map a:hover, .card-ocensa.menu-map a.active{
    color: var(--green-ocensa);
    transform: scale(1.2);
    text-decoration: underline;
}

.card-ocensa.menu-map{
    position: relative;
}

.card-ocensa.menu-map::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 17px;
    background-color: var(--green-ocensa);
}

.card-ocensa .number-large{
    font-size: 40px;
}

.card-ocensa-carousel{
    width: 100%;
    max-width: 200px;
}

.bg-pattern-2024{
    background-image: url('/assets/img/textura-puntos.svg');
}

.terminal .divider-vertical{
    display: inline-block;
}

.banner-principal .certifieds img{
    max-width: calc(100% / 7);
}

@media screen and (max-width: 1200px) {
    .banner-principal{
        height: auto;
    }

    .card-ocensa.menu-map a{
        font-size: 16px;
    }

    .card-ocensa.menu-map::before{
        width: 10px;
    }

    .terminal .divider-vertical{
        display: none;
    }

    .terminal-carousel{
        width: 100%;
    }
}

@media screen and (max-width: 900px){
    .banner-principal__title{
        font-size: 30px;
        line-height: 1em;
    }

    .banner-principal__subtitle{
        font-size: 18px;
    }

    .terminal-carousel .slick-dots{
        bottom: -60px;
    }
} 