.banner-principal {
  background-image: url("/assets/img/portada-covenas.webp");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.banner-principal.layer-opacity-banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, var(--opacity));
}

.banner-principal__title {
  font-size: 60px;
  font-family: var(--calibri);
  line-height: 1em;
}

.container-banner-principal {
  width: 90%;
  margin: 0 auto;
  max-width: 1440px;
}

.banner-principal__subtitle {
  font-size: 24px;
}

.terminal-carousel {
  width: 80%;
}

.card-ocensa.menu-map a {
  font-size: 20px;
  line-height: 1em;
  transition: 0.3s;
}

.card-ocensa.menu-map a:hover,
.card-ocensa.menu-map a.active {
  color: var(--green-ocensa);
  transform: scale(1.2);
  text-decoration: underline;
}

.card-ocensa.menu-map {
  position: relative;
}

.card-ocensa.menu-map::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 17px;
  background-color: var(--green-ocensa);
}

.card-ocensa .number-large {
  font-size: 40px;
}

.card-ocensa-carousel {
  width: 100%;
  max-width: 200px;
}

.bg-pattern-2024 {
  background-image: url("/assets/img/textura-puntos.svg");
  padding: 32px 0;
}

.terminal .divider-vertical {
  display: inline-block;
}

.banner-principal .certifieds img {
  width: calc(100% / 7);
}

.terminal-bottom img {
  min-width: 90px;
}

.notifications-top {
  gap: 35px;
}

.card-interactive-icons {
  background-color: #f7f7f7;
  position: relative;
  border-top-right-radius: 17px;
  border-bottom-right-radius: 17px;
  padding: 20px !important;
}

.card-interactive-icons::before {
  content: "";
  width: 5px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: var(--gray-light-ocensa);
}

.card-interactive-icons___title {
  font-family: var(--helvetica);
}

.card-interactive-icons___box-icon {
  width: 51px;
  height: 51px;
  min-width: 51px;
  border: 2px solid;
  border-color: var(--border-fill);
  border-radius: 50%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.card-interactive-icons___box-icon.small {
  width: 40px;
  height: 40px;
  min-width: 40px;
  background-color: white;
}

.card-interactive-icons___box-description {
  font-size: 12px;
}

.card-interactive-icons___box-icon svg {
  width: 60%;
}

.card-interactive-icons___box-icon.small svg {
  width: 100%;
  max-height: 25px;
  max-width: 25px;
}

.card-interactive-icons__container {
  cursor: pointer;
}

.card-interactive-icons__container.active .card-interactive-icons___box-icon {
  background-color: var(--border-fill);
}

.card-interactive-icons__container.active
  .card-interactive-icons___box-icon:not(.not-hover-color-icon)
  svg
  path {
  fill: var(--hover-color) !important;
}

.location-map-dot {
  background-color: black;
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 4px solid white;
  box-sizing: border-box;
  position: absolute;
}

.miraflores-sre-13 .location-map-dot,
#cusiana-sre-8 .location-map-dot,
#porvenir-sre-8 .location-map-dot {
  border-radius: 0;
}

.miraflores-sre-13 .location-map-dot,
#cusiana-sre-8 .location-map-dot,
#porvenir-sre-8 .location-map-dot {
  width: 12px;
  height: 12px;
  border-color: #ff5512;
  background-color: white;
}

.miraflores-sre-13 .location-map-dot::before {
  outline: 0;
}

.location-map-dot::before {
  content: "";
  outline: 1px solid var(--outline-color);
  width: 300%;
  height: 300%;
  position: absolute;
  left: -100%;
  top: -100%;
  border-radius: 50%;
}

.location-map-dot.dot-image::before{
  display: none;
}

.location-map-dot.dot-image{
  width: auto;
  height: auto;
  border: none;
  background-color: transparent;

  img{
    width: 30px;
    position: relative;
    z-index: 2;
  }

  .dot-image-text{
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 10px;
    padding: 5px 8px;
    padding-left: 15px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    position: absolute;
    left: 70%;
    top: 40%;
    transform: translateY(-50%);
    text-wrap: nowrap;
    white-space: nowrap;
    opacity: 0 ;
    transition: 0.3s;
    overflow: hidden;
    cursor: pointer;
  }

  &:hover{
    .dot-image-text{
      opacity: 1;
    }
  }
}

.card-primeros-auxilios {
  left: calc(100% + 20px);
  top: 0;
  z-index: 2;
  position: absolute;
  height: 100%;
}


.wrapper-scroll {
  overflow: hidden;
}

.custom-color-marker {
  list-style: none;
  position: relative;
}

.custom-color-marker::before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: absolute;
  left: -15px;
  top: calc(50% - 0.2em);
  background-color: var(--color-marker);
}

.link-menu.disabled {
  pointer-events: none;
}

#covenas-monitoreo-13 {
  .location-map-zona {
    filter: sepia(1) saturate(3) brightness(0.9) hue-rotate(330deg);
  }
}

.dots-map-2024.dots-sre#cusiana-sre-15 .location-map-dot{
  background-color: white;
  border-color: var(--outline-color);
  width: 11px;
  height: 11px;
  border-width: 3px;
}

.dots-map-2024.dots-sre#cusiana-sre-15 .location-map-dot::before{
  display: none;
}

#porvenir-sre-8 .location-map-dot::before{
  display: none;
}

@media screen and (min-width: 1200px) {
  .card-interactive-icons__container:hover .card-interactive-icons___box-icon {
    background-color: var(--border-fill);
  }

  .card-interactive-icons__container:hover
    .card-interactive-icons___box-icon:not(.not-hover-color-icon)
    svg
    path {
    fill: var(--hover-color) !important;
  }

  #col-data-map{
    overflow-y: scroll;
    /* box-shadow: 0 7px 64px 0 rgba(0, 0, 0, 0.07); */
    background-color: white;
    padding: 2em 1em !important;
    position: relative;
    opacity: 0;
  }
}

@media screen and (max-width: 1440px) {
  .wrapper-scroll {
    overflow-x: scroll;
  }
  .banner-principal__title{
    font-size: 50px;
  }

  .card-interactive-icons___title {
    font-size: 15px;
  }
}

@media screen and (max-width: 1200px) {
  .card-ocensa.menu-map a {
    font-size: 16px;
  }

  .card-ocensa.menu-map::before {
    width: 10px;
  }

  .terminal .divider-vertical {
    display: none;
  }

  .terminal-carousel {
    width: 100%;
  }
}

@media screen and (max-width: 900px) {
  .banner-principal__title {
    font-size: 30px;
    line-height: 1em;
  }

  .banner-principal__subtitle {
    font-size: 18px;
  }

  .terminal-carousel .slick-dots {
    bottom: -60px;
  }

  .notifications-top {
    gap: 15px;
  }

  .terminal-bottom img {
    min-width: 60px;
  }

  .location-map-dot.dot-image{
    .dot-image-text{
      opacity: 1;
    }
  }

}

@media screen and (max-width: 576px) {
  .sticky-mobile {
    position: -webkit-sticky !important;
    position: sticky !important;
    top: 0;
    z-index: 10;
  }

  .accordion-item {
    max-height: 0;
    overflow: hidden;
    transition: 0.3s ease-in-out;
  }

  .accordion-item.active {
    display: flex;
    max-height: 1000px;
    margin-top: 1rem;
  }

  .accordion-title {
    margin: 0;
  }

  .card-interactive-icons {
    background-color: white;
    border-radius: 12px;
    border: 1px solid #ecebed;
    margin-top: 10px !important;
    box-shadow: 0 7px 64px 0 rgba(0, 0, 0, 0.07);
    padding: 15px !important;
  }

  .card-interactive-icons::before {
    display: none;
  }
}
